<%= provide(:title, "作品一覧") %>
<%= provide(:site_title, FreeComics::Application.config.site_title) %>

<!--
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
-->

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

<% @series.each do |s| %>
            <div class="col-md-4">
              <a href="series/<%= s.sid %>">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="<%= s.thumbnail_url %>" alt="<%= s.title %>xx">
                  <div class="card-body">
                    <p class="series-title"><%= s.title %></p>
                    <p class="series-author"><%= s.author %></p>
                    <p class="series-summary"><%= truncate(s.summary, length: 80, omission: "...") %></p>
                  </div>
                </div>
              </a>
            </div>
<% end %>
          </div>
        </div>
      </div>
